*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(images/money\ background\ copy.jpeg);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#currencyconverter{
    height: 60vh;
    width: 30%;
    border: 1px solid yellow;
    margin: auto;
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: rgb(220, 220, 220); */
    background: blueviolet;
    padding-top: 3%;
    border-radius: 20px;
}

#currencyconverter h1{
    text-align: center;
    color: rgb(49, 14, 81);
}

#exchange{
    /* border: 1px solid blue; */
    margin-top: 10%;
    text-align: center;
    color: white;
}

label{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#amount{
    width: 85%;
    height: 35px;
}

#amountlabel{
    padding-left: 13%;
    color: white;
}

#fromlabel{
    color: white;
}

#from{
    width: 250%;
}

#tolabel{
    padding-left: 6%;
    color: white;
}

#to{
    width: 250%;
}

.fromto{
    /* border: 1px solid orange; */
    display: flex;
    height: 25%;
    width:100%;
    padding-left: 13%;
}

#convert{
    background: greenyellow;
    width: 75%;
    height: 15%;
    margin-top: 2%;
    margin-left: 13%;
    border: 1px solid greenyellow;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.arrow{
    margin-left: 26%;
}

@media (max-width:375px){
    #currencyconverter{
        width: 90%;
        margin-top: 30%;
    }

    #from{
        width: 185%;
    }

    #to{
        width: 185%;
    }

    .arrow{
        margin-left: 20%;
    }
}